* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans";
}

body {
        background-color: rgba(6, 10, 41, 0.877);
        color: white;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
    opacity:  0.7;
    transition: 0.3s;
}

a:hover {
    opacity: 1;
}

p {
    color: #a9abb3;
}