* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans";
}

body {
        background-color: rgba(6, 10, 41, 0.877);
        color: white;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
    opacity:  0.7;
    transition: 0.3s;
}

a:hover {
    opacity: 1;
}

p {
    color: #a9abb3;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
}
h2 {
    text-align: center;
    padding: 10px;
}

.table {
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    border: 1px solid black;
}

.newPremio h2 {
    text-align: center;
    margin: 1rem
}

form {
        max-width: 500px;
        width:  100%;
        margin:  0 auto;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.form-control-data {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}
.form-control-data label {
    margin-right: 1rem;
}

.form-control-data input {
    padding: .5rem;
    margin-right: 1rem;
    border-radius: 5px;
    border: none;
}

.form-control label {
    margin-bottom: 1rem;
}

.form-control input, .form-control textarea {
    padding: .5rem;
    border-radius: 5px;
    border: none;
}